// Example config for CRC-SCENIC MultiRun -> Using the fork https://github.com/HowieJM/vsn-pipelines

// Instructions to build environment and install fork at -> https://github.com/HowieJM/vsn-pipelines  

// Pyscenic Resources ->  location to place the required file set:
// 1) Default: put files under ${projectDir}/pyscenic_resources
// 2) Or override at runtime: --resources_dir /absolute/PATH/TO/pyscenic_resources

// Original file name, for provenance: nf_CPUopt-MagReal_AllData_WithTrack-skipRep_Fork-MultiRun_InputLoomFromSCope-0-12-0_minGeneReg-5__REAL_25_Runs.config

manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.27.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!=21.04.3'
}

params.resources_dir = "${projectDir}/pyscenic_resources"

params {
   global {
      project_name = 'MagdalenaStromaProject_MultiRun_RealData_AllCohorts_FromSeurat_via_pyscenic_withTrack_SCope__25Runs__2024_09_26'
      outdir = 'out'
      species = 'human'
      genome {
         assembly = 'hg38'
      }
   }
   misc {
      test {
         enabled = false
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.4.0'
      file_converter {
         off = 'h5ad'
         tagCellWithSampleId = true
         remove10xGEMWell = false
         useFilteredMatrix = true
         makeVarIndexUnique = false
      }
      publish {
         compressionLevel = 6
         annotateWithBatchVariableName = false
         mode = 'copy'
      }
      scope {
         genome = ''
         tree {
            level_1 = ''
            level_2 = ''
            level_3 = ''
         }
      }
   }
   tools {
      scenic {
         container = 'aertslab/pyscenic_scanpy:0.12.0_1.9.1'
         scenicoutdir = 'out/scenic'
         filteredLoom = "${params.resources_dir}/Joanito_StromaOnly_Filtered_Seurat_Object_All_Cohorts_FullDataSet_SCopeLoomR.loom"
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = true
         grn {
            algorithm = 'grnboost2'
            tfs = "${params.resources_dir}/allTFs_hg38.txt"
            num_workers = 32
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            all_modules = false
            motifsDb = "${params.resources_dir}/hg38_10kbp_up_10kbp_down_full_tx_v10_clust.genes_vs_motifs.rankings.feather"
            motifsAnnotation = "${params.resources_dir}/motifs-v10nr_clust-nr.hgnc-m0.001-o0.0.tbl"
            tracksDb = "${params.resources_dir}/encode_20190621__ChIP_seq_transcription_factor.hg38__refseq-r80__10kb_up_and_down_tss.max.genes_vs_tracks.rankings.feather"  
            tracksAnnotation = "${params.resources_dir}/encode_project_20190621__ChIP-seq_transcription_factor.homo_sapiens.hg38.bigwig_signal_pvalue.track_to_tf_in_motif_to_tf_format.tsv"
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_genes_regulon = 5
            min_regulon_gene_occurrence = 5
         }
         numRuns = 25
         aggregate_features {
            use_chunking = true
            output_format = 'csv'
            compression = 'gzip'
         }
      }
   }
}

process {
   executor = 'local'
   cpus = 32
   memory = '120 GB'
   clusterOptions = '-A cluster_account'
   withLabel:compute_resources__default {
      time = '2h'
   }
   withLabel:compute_resources__minimal {
      cpus = 1
      memory = '1 GB'
   }
   withLabel:compute_resources__mem {
      cpus = 32
      memory = '120 GB'
   }
   withLabel:compute_resources__cpu {
      cpus = 32
      memory = '120 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 1
      cpus = 32
      memory = '120 GB'
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 32
      memory = '120 GB'
      time = '48h'
      maxForks = 1
   }
   withLabel:compute_resources__scenic_grn {
      cpus = 32
      memory = '120 GB'
      time = '48h'
   }
   withLabel:compute_resources__scenic_cistarget {
      cpus = 32
      memory = '120 GB'
      time = '48h'
   }
   withLabel:compute_resources__scenic_aucell {
      cpus = 32
      memory = '120 GB'
      time = '48h'
   }
   withLabel:'compute_resources__scenic_multiruns.*' {
      cpus = 32
      memory = '120 GB'
      time = '48h'
   }
   withLabel:compute_resources__scenic_multiruns_motifs2regulons {
      memory = '120 GB'
      time = '48h'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

vsc {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '--cleanenv -H $PWD -B ${HOME}'
}
